{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Usuarios</h1>

    <div class="table-responsive">
        <table class="table table-striped" id="tbl">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.nombres }}</td>
                        <td>{{ user.apellidos }}</td>
                        <td><a href="http://127.0.0.1:8000/usuario/{{ user.id }}/edit" class="btn btn-primary">
                                Editar
                            </a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}